version: "3.8"

services:
  mysql-db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_DATABASE: platform_db
      MYSQL_USER: platform_user
      MYSQL_PASSWORD: StrongPassword@123
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend-app:
    build: .
    container_name: backend-app
    restart: always
    depends_on:
      - mysql-db
    ports:
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  mysql_data:
